@font-face {
  font-family: Overpass;
  src: url(./fonts/Overpass/Overpass-VariableFont_wght.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
}

body {
  font-family: Overpass;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}

/*
Styles for the header (top part of the page)
uses an image alongside an gradient
"background-position" indicates the position in an axis
"background-size" indicates the size of the img. It's used to zoom in the bg-img
*/
header {
  color: hsl(0, 0%, 100%);
  background-image:
  url(./images/bg-pattern-intro-desktop.svg), 
  linear-gradient(128deg, hsl(13deg 100% 68.75%), hsl(353deg 100% 56.51%));
  background-position: 25%;
  background-size: 200%;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30em;
  border-bottom-left-radius: 70px;
}

/* code for the nav bar */
nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.blogr-logo {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 2.5em;
  margin-right: 1em;
}

/* Code for the drop down btns */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-family: Ubuntu;
  background: transparent;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 0.9em;
  font-weight: 700;
  border: none;
}

.dropbtn:hover {
  text-decoration: underline;
}

.dropdown-content {
  font-family: Ubuntu;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  font-size: 1em;
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  font-weight: bold;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* end of drop down btn code */

.login-btn, .signup-btn {
  font-family: Ubuntu;
  height: 80%;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 700;
  padding: 0px 22px
}

.login-btn {
  color: hsla(0, 0%, 100%, 0.9);
  margin-left: auto;
  background: transparent;
}

.login-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signup-btn {
  background-color: hsl(0, 0%, 100%);
  color: hsla(356, 100%, 66%);
}

.signup-btn:hover {
  color: hsla(0, 0%, 100%, 0.8);
  background-color: hsl(355, 100%, 74%);
  cursor: pointer;
}

/* end of nav code */

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  font-size: 1.1em;
}

.header-text h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 600;
}

.header-btns {
  margin-bottom: 4em;
  height: 10%;
}

.start-btn, .learn-btn {
  height: 3em;
  width: 8em;
  height: 80%;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 700;
}

.start-btn {
  background-color: hsla(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
}

.start-btn:hover {
  color: hsla(0, 0%, 100%, 0.9);
  background-color: hsl(355, 100%, 74%);
  cursor: pointer;
}

.learn-btn {
  background-color: transparent;
  color: hsla(0, 0%, 100%, 0.9);
  border: 1px solid;
  border-color: white;
}

.learn-btn:hover {
  background-color: hsla(0, 0%, 100%);
  color: hsl(356, 100%, 66%, 0.9);
  cursor: pointer;
}

/* search for gap */

.article-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2em;
  color: hsl(208, 49%, 24%);
  height: 40em;
  font-size: 1.1em;
}

/* tirar bg-img colocar img a parte (mudar a camada - botar pra cima) */

.article-1 h1 {
  margin: 0;
  margin-top: 3em;
  text-align: center;
  font-size: 2em;
}

.article-1-content {
  display: flex;
  flex-direction: row;
  margin-top: 2.7em;
  margin-left: 8em;
}

.article-1-content-text {
  width: 100%;
}

.article-1-content img {
  width: 100%;
  max-width: 45vw;
  justify-self: flex-end;
}

.article-2 {
  font-size: 1.1em;
  color: white;
  height: 30em;
}

.article-2-content {
  margin-top: 5em;
  background-image: url("./images/bg-pattern-circles.svg");
  background-position: -12vw -70vh;
  background-repeat: no-repeat;
  background-color: hsl(237, 17%, 21%);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  height: 25em;
}

.article-2-content img {
  max-width: 40vw;

}

.article-2-text {
  color: hsl(0, 0%, 80%);
  max-width: 40vw;
}

.article-2-text h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2em ;
}

.article-3 {
  background-image: url("./images/illustration-laptop-desktop.svg");
  color: hsl(208, 49%, 24%);
  background-position: -14vw 0vh;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40em;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1em;
}

.article-3-text {
  margin-left: 35em;
  max-width: 45vw;
}
