@font-face {
  font-family: Overpass;
  src: url(./fonts/Overpass/Overpass-VariableFont_wght.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.intro {
  font-family: Overpass;
  color: hsl(0, 0%, 100%);
  background-color: hsl(353, 100%, 62%);
  background-image: url('./images/bg-pattern-intro-desktop.svg');
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20em;
  border-bottom-left-radius: 70px;
}

.intro h1 {
  margin: 0;
  font-weight: 600;
  font-size: 2.3em;
}

.intro span {
  font-size: 14px;
  font-weight: 300;
}

.navbar {
  width: 90%;
  margin-top: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar span {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 1.8em;
  align-self: start;
}

.dropbtn {
  background: transparent;
  color: hsla(0, 0%, 100%, 0.8);
  padding: 14px;
  font-family: Overpass;
  font-size: 12px;
  font-weight: 500;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right button {
  color: hsla(0, 0%, 100%, 0.8);
  background: transparent;
  border: none;
  font-family: Overpass;
  font-size: 12px;
  font-weight: 700;
}