@font-face {
  font-family: Overpass;
  src: url(./fonts/Overpass/Overpass-VariableFont_wght.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.intro {
  font-family: Overpass;
  color: hsl(0, 0%, 100%);
  background-image:
  url(./images/bg-pattern-intro-desktop.svg), 
  linear-gradient(128deg, hsl(13deg 100% 68.75%), hsl(353deg 100% 56.51%));
  background-position: 25%;
  background-size: 200%;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25em;
  border-bottom-left-radius: 70px;
}

.intro h1 {
  margin: 0;
  font-weight: 600;
  font-size: 2.3em;
}

.intro span {
  font-size: 14px;
  font-weight: 300;
}

.navbar {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: flex-end;
}

.nav-left span {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 1.8em;
  margin-right: 1em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: transparent;
  color: hsla(0, 0%, 100%, 0.8);
  font-family: Overpass;
  font-size: 12px;
  font-weight: 500;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.nav-right-btns {
  display: flex;
  align-items: flex-end;
}

.nav-right-btns button {
  color: hsla(0, 0%, 100%, 0.8);
  background: transparent;
  border: none;
  font-family: Overpass;
  font-size: 12px;
  font-weight: 700;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-btns button{
  color: hsla(0, 0%, 100%, 0.8);
  background: transparent;
  border: none;
  font-family: Overpass;
  font-size: 12px;
  font-weight: 700;
}